*{
    box-sizing: border-box;
}

a, i{
    font-size: 40px;
    color: white;
    margin-left: 0.5em;
    
    
}
body{
    background: url(./img/bg.png) no-repeat center fixed;
    background-size: cover;
}
header{
    position: fixed;
    left: 0;
    height: 55rem;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    
}
nav{
    background:  rgb(211, 13, 13);; 
}

#banner{
    height: 50rem;
    background:  rgba(226, 14, 14, 0.5);;   
}

#bannertext{
    color: white;
    font-size: 6vw;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 8rem;
    animation: fadein 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;

}
#about{
    color: white;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 15rem;
    animation: fadein 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;

}

.wbg{
    background:  rgba(255, 255, 255, 1);;   
}

#h1, #h2, #h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#h1{
    opacity: 0;
    animation: spinner 2s, fadein 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    
}
#h2{
    opacity: 0;
    animation: spinner 2s, fadein 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    
}
#h3{
    opacity: 0;
    animation: spinner 2s, fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
img{
    width: 50%;
    border-radius: 15px;
    box-shadow: 5px 5px grey;
    
}
.title{
    border-color: rgb(211, 13, 13) ;
    border-top-style: solid;
}

.nav a:hover{
    text-decoration: underline;
    color: white;
    
}



/* media cuery */
@media screen and (max-width:568px){
    h4{
        font-size: 18px;
    };

}

/*animation*/
@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes spinner{
    from {
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}